/* Gidolinya-regular - latin */
@font-face
  font-family: 'Gidolinya Regular'
  font-style: regular
  font-weight: 400
  src: local(''), url('./assets/font/Gidolinya-Regular.woff2') format('woff2'), /* Super Modern Browsers */ url('./assets/font/Gidolinya-Regular.woff') format('woff'), /* Modern Browsers */ url('./assets/font/Gidolinya-Regular.ttf') format('truetype')
